@{
    ViewBag.Title = "Reporter App";
}

<div class="jumbotron">
    <h1>Reporter App</h1>
    <p class="lead">Reporter App permite crear el estilo de sus reportes de acuerdo a su eleccion</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Generar PDF &raquo;</a>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Estilos &raquo;</a>
    </p>
</div>

